In [22]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [23]:
cluster_df = pd.read_csv(
    Path("./exported_resources/restaurant_scaled_and_clustered.csv")
)

cluster_df

,cluster_id,cluster,id,rating,seating_capacity,average_meal_price,marketing_budget,social_media_followers,chef_experience_years,number_of_reviews,...,location_rural,location_suburban,cuisine_american,cuisine_french,cuisine_indian,cuisine_italian,cuisine_japanese,cuisine_mexican,parking_availability_no,parking_availability_yes
0,0,0,0,-0.014202,-1.276714,1.819441,-0.544861,-0.686274,0.534421,-1.219380,...,True,False,False,False,False,False,True,False,False,True
1,1,1,1,-1.390099,0.907389,-1.380216,0.656375,0.351622,-0.371987,0.036038,...,False,False,False,False,False,False,False,True,False,True
2,2,0,2,1.189708,-0.701950,0.027437,-0.231400,0.058746,1.440830,1.190445,...,True,False,False,False,False,True,False,False,True,False
3,3,0,3,0.673746,-1.506619,0.254838,-1.124106,-1.126017,0.534421,-1.590955,...,True,False,False,False,False,True,False,False,False,True
4,4,1,4,1.533682,1.597106,1.958951,0.230572,0.213665,-0.190705,-1.605385,...,False,False,False,False,False,False,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,8363,0,8363,-1.046125,-0.357091,-0.910068,-1.159727,-1.336227,0.171858,-0.515913,...,False,True,False,False,True,False,False,False,False,True
8364,8364,0,8364,-0.530163,-0.644473,-0.768466,-0.674191,-0.845917,-0.190705,0.685392,...,True,False,False,False,True,False,False,False,True,False
8365,8365,1,8365,1.189708,1.597106,-0.071614,1.496473,1.489845,-0.734551,-0.313892,...,False,False,False,False,False,True,False,False,False,True
8366,8366,0,8366,-1.562086,-1.679048,-0.234841,-1.376191,-1.557816,-1.640959,0.743112,...,True,False,True,False,False,False,False,False,True,False
8367,8367,0,8367,-0.014202,-1.564095,1.616454,-0.665971,-0.640002,-0.371987,-1.176090,...,True,False,False,False,False,False,True,False,False,True

In [24]:
cluster_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8368 entries, 0 to 8367
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   cluster_id                8368 non-null   int64
 1   cluster                   8368 non-null   int64
 2   id                        8368 non-null   int64
 3   rating                    8368 non-null   float64
 4   seating_capacity          8368 non-null   float64
 5   average_meal_price        8368 non-null   float64
 6   marketing_budget          8368 non-null   float64
 7   social_media_followers    8368 non-null   float64
 8   chef_experience_years     8368 non-null   float64
 9   number_of_reviews         8368 non-null   float64
 10  avg_review_length         8368 non-null   float64
 11  ambience_score            8368 non-null   float64
 12  service_quality_score     8368 non-null   float64
 13  weekend_reservations      8368 non-null   float64
 14  weekday_reservations      8368 non-null   float64
 15  revenue                   8368 non-null   float64
 16  location_downtown         8368 non-null   bool
 17  location_rural            8368 non-null   bool
 18  location_suburban         8368 non-null   bool
 19  cuisine_american          8368 non-null   bool
 20  cuisine_french            8368 non-null   bool
 21  cuisine_indian            8368 non-null   bool
 22  cuisine_italian           8368 non-null   bool
 23  cuisine_japanese          8368 non-null   bool
 24  cuisine_mexican           8368 non-null   bool
 25  parking_availability_no   8368 non-null   bool
 26  parking_availability_yes  8368 non-null   bool
dtypes: bool(11), float64(13), int64(3)
memory usage: 1.1 MB

In [25]:
cluster_0 = cluster_df.loc[cluster_df["cluster"] == 0, "rating":"parking_availability_yes"]
cluster_0_avg = pd.DataFrame(cluster_0.mean())
cluster_0_avg = cluster_0_avg.transpose()
cluster_0_avg.to_csv(Path("./exported_resources/cluster_0_avg.csv"))
cluster_0_avg

,rating,seating_capacity,average_meal_price,marketing_budget,social_media_followers,chef_experience_years,number_of_reviews,avg_review_length,ambience_score,service_quality_score,...,location_rural,location_suburban,cuisine_american,cuisine_french,cuisine_indian,cuisine_italian,cuisine_japanese,cuisine_mexican,parking_availability_no,parking_availability_yes
0,-0.065808,-0.564129,-0.074478,-0.484242,-0.47748,-0.021411,0.002972,0.023432,0.001527,0.003346,...,0.508013,0.444281,0.172592,0.160066,0.174434,0.165776,0.14312,0.184012,0.501013,0.498987

In [26]:
cluster_0_std = pd.DataFrame(cluster_0.std())
cluster_0_std = cluster_0_std.transpose()
cluster_0_std.to_csv(Path("./exported_resources/cluster_0_std.csv"))
cluster_0_std

,rating,seating_capacity,average_meal_price,marketing_budget,social_media_followers,chef_experience_years,number_of_reviews,avg_review_length,ambience_score,service_quality_score,...,location_rural,location_suburban,cuisine_american,cuisine_french,cuisine_indian,cuisine_italian,cuisine_japanese,cuisine_mexican,parking_availability_no,parking_availability_yes
0,0.997089,0.721548,0.987582,0.524584,0.547067,1.002881,0.997291,1.003957,0.994565,0.997494,...,0.499982,0.496931,0.377929,0.366701,0.379517,0.371914,0.350228,0.387529,0.500045,0.500045

In [27]:
cluster_1 = cluster_df.loc[cluster_df["cluster"] == 1, "rating":"parking_availability_yes"]
cluster_1_avg = pd.DataFrame(cluster_1.mean())
cluster_1_avg = cluster_1_avg.transpose()
cluster_1_avg.to_csv(Path("./exported_resources/cluster_1_avg.csv"))
cluster_1_avg

,rating,seating_capacity,average_meal_price,marketing_budget,social_media_followers,chef_experience_years,number_of_reviews,avg_review_length,ambience_score,service_quality_score,...,location_rural,location_suburban,cuisine_american,cuisine_french,cuisine_indian,cuisine_italian,cuisine_japanese,cuisine_mexican,parking_availability_no,parking_availability_yes
0,0.121562,1.042074,0.137578,0.894505,0.882014,0.039551,-0.00549,-0.043284,-0.002821,-0.00618,...,0.001361,0.126914,0.162981,0.191902,0.143586,0.174549,0.192923,0.134059,0.496427,0.503573

In [28]:
cluster_1_std = pd.DataFrame(cluster_1.std())
cluster_1_std = cluster_1_std.transpose()
cluster_1_std.to_csv(Path("./exported_resources/cluster_1_std.csv"))
cluster_1_std

,rating,seating_capacity,average_meal_price,marketing_budget,social_media_followers,chef_experience_years,number_of_reviews,avg_review_length,ambience_score,service_quality_score,...,location_rural,location_suburban,cuisine_american,cuisine_french,cuisine_indian,cuisine_italian,cuisine_japanese,cuisine_mexican,parking_availability_no,parking_availability_yes
0,0.994302,0.460398,1.008512,1.051696,1.046789,0.993785,1.0053,0.991534,1.010295,1.004923,...,0.036873,0.332933,0.369411,0.393863,0.350729,0.379646,0.39466,0.340774,0.500072,0.500072